[class*=__container] {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0px auto;
}

* {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

.app__container {
  display: flex;
  flex-direction: column;
}
button { 
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:active{
    transform: scale(0.9);
  }
}

