.orders {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  background-color: #cc6666;
  gap: 1rem;
}

.order {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 10px;
  background-color: #d88f8f;
  border-radius: 10px;
  &__title {
    text-align: center;
    font-size: 20px;
  }
  &__details {
    font-weight: 600;
    font-size: 1.2rem;
  }
  &__address {}
  &__products {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex: 1;
  }
  &__product {
    padding: 5px;
    background-color: #cc6666;
    border-radius: 5px;
  }
  &__summary {}
}
