.shopping-cart {
  display: flex;
  gap: 1rem;
  &__form {
    border: 1px solid black;
    flex: 0 1 50%;
  }
  &__list {
    flex: 0 1 50%;
    border: 1px solid black;

  }
}
.list {
  &__menu {
    padding: 1rem;
    border: 1px solid black;
  }
  &__item {}
  &__details {
  }
}
