.shop {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  &__shops {
    flex: 1 1 30%;
    border: 1px solid black;
  }
  &__items {
    flex: 1 1 67%;
    border: 1px solid black;
  }
}
.shops-items {
  &__list {
    padding: 2rem .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
  }
  &__shop {
    padding: 1rem .5rem ;
    border: 1px solid black;
    width: 100%;
    min-width: fit-content;
    max-width: 50%;
    &:focus {
      background-color: green;
    }
  }
}
.error {
}
.shop-menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
  }
  &__item {
    flex: 1 1 200px;
    max-width: 250px;
    border: 1px solid black;
    padding: .5rem;
  }
  &__image {
    max-width: 100%;
    aspect-ratio: 1/1;
  }
  &__information {
    display: flex;
    min-height: 3rem;
    justify-content: space-between;
  }
  &__name {
    align-self: flex-start;
  }
  &__button {
    align-self: flex-end;
  }
}