.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 80%;
    padding-left: 1rem;
    &:nth-child(1) {
      padding-top: 2rem;
    }
    &:last-child {
      padding-bottom: 2rem;
    }
  }
}
.input {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}
